.user__wrapper {
  border: 1px solid var(--border-colour);
  border-radius: 1rem;
  display: grid;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.5rem;
  grid-template-areas:
    'image title'
    'image email';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  padding: 1rem;
}

.user__wrapper img {
  --diameter: 50px;
  border-radius: 50%;
  grid-area: image;
  height: var(--diameter);
  width: var(--diameter);
}

.user__title {
  align-self: end;
  grid-area: title;
  margin: 0;
}

.user__email {
  align-self: start;
  font-size: 0.9em;
  grid-area: email;
  margin: 0;
}

.user__wrapper--condensed {
  background: none;
  border-color: var(--border-colour);
  border-radius: 0.5rem;
  grid-row-gap: 0.25rem;
  padding: 0.75rem;
}

.user__wrapper--condensed img {
  --diameter: 40px;
}