.ticket-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, calc(200px + 2rem));
  justify-content: center;

  width: 75%;
}

.ticket {
  --diameter: 200px;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  height: var(--diameter);
  justify-content: flex-end;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  width: var(--diameter);
}

.ticket::before {
  content: '';
  display: block;
  width: calc(200px + 2rem - 1px);
  height: calc(200px - 4rem);
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: absolute;
  top: 2rem;
  left: -1rem;
}

.ticket::after {
  content: '';
  display: block;
  height: calc(200px + 2rem - 1px);
  width: calc(200px - 4rem);
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  position: absolute;
  top: -1rem;
  left: 2rem;
}

.ticket__id {
  font-size: 3rem;
  left: 1rem;
  opacity: 0.5;
  position: absolute;
  top: 1rem;
}

.ticket--completed .ticket__id {
  color: rgb(6, 138, 6);
}

.ticket--completed .ticket__title {
  text-decoration: line-through;
}